Total Revenu: $<%= @revenue %><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Gym</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.agreement.client["name"] %></td>
        <td><%= workout["date"].to_formatted_s(:long) %></td>
        <td><%= workout["time"].to_formatted_s(:time) %></td>
        <td><%= workout.gym["name"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
