
<h1><%= @gym["name"] %> </h1>
<div class="row">
<div class="col s6">
<h4><%= @gym["address"] %> </h4>
<h4><%= @gym["bio"] %> </h4>
<h4>$<%= @gym["fee"] %> session fee</h4>
</div>
<div class="col s6">
<h4><%= @count %> Total Sessions</h4>
<h4>$<%= @revenue%> Total Revenue</h4>
<h4>$<%= @profit%> Total Profit</h4>
</div>
</div>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Client</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout["date"].to_formatted_s(:long) %></td>
        <td><%= workout["time"].to_formatted_s(:time) %></td>
        <td><%=workout.agreement.client["name"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
