<h4>Totals Snapshot</h4>
<%= @count %> Total Sessions<br>
$<%= @revenue %> Total Revenue<br>
$<%= @profit %> Total Profit<br><br>
<a href='/agreements/new'>Add a New Agreement</a><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fee</th>
    </tr>
  </thead>
  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><a href="/agreements/<%=agreement["id"]%>"><%= agreement.client["name"] %></td>
        <td><%= agreement["fee"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>




